<template>
  <v-footer app height=50 color='white'>
    <v-layout justify-space-around>
        <v-btn icon large to='/search'>
          <v-icon medium :color=color>fa-search</v-icon>
        </v-btn>
        <v-btn icon large to='/'>
          <v-icon medium :color=color>fa-trash</v-icon>
        </v-btn>
        <v-btn icon large to='/stats'>
          <v-icon medium :color=color>fa-poll</v-icon>
        </v-btn>
    </v-layout>
  </v-footer>
</template>

<script>
  export default {
    name: 'BottomNav',
    data() {
      return {
        color: '#5CBBA2',
      }
    }
  }
</script>
