<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card flat class="rounded-card">
        <v-card-title>
          <div class="headline primary--text">Votre foyer</div>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-select v-model="form.type" prepend-icon="fa-home" :items="homes" :rules="[rules.required]" label="Dans quel type de logement vivez-vous?"></v-select>
            <v-radio-group v-model="form.gender" prepend-icon="fa-user" label="Quelle est la composition de votre foyer ?" :rules="[rules.required]">
              <v-radio label="Fille" value="Fille"></v-radio>
              <v-radio label="Garçon" value="Garçon"></v-radio>
              <v-radio label="Mixte" value="Mixte"></v-radio>
            </v-radio-group>
            <v-select v-model="form.residents" prepend-icon="fa-users" :items="number" :rules="[rules.required]" label="Combien êtes vous dans le foyer ?"></v-select>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn slot="activator" round block color="primary" :disabled="!valid" @click.native="submit">Enregistrer</v-btn>
          <v-dialog v-model="isSubmit" max-width="500">
            <v-card class="rounded-card">
              <v-card-title class="headline">Bienvenue sur Ma p'tite poubelle !</v-card-title>
              <v-card-text>
                <div>Bravo, vous avez déjà réalisé le premier pas vers le Zéro Déchets.</div>
                <div> Prêt pour les autres ?</div>
                <div>Pas de panique ! Ma p'tite Poubelle est là pour vous accompagner, vous encourager, vous conseiller et vous récompenser ! </div>
                <div>Avant tout, nous devons apprendre à vous connaître pour vous aider.</div>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn round block color="primary" :to="'/trashes'">
                  Poursuivre l'inscription
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="error.dialog" max-width="500">
            <v-card class="rounded-card">
              <v-card-title class="headline">Création du foyer impossible</v-card-title>
              <v-card-text>
                {{error.msg}}
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" flat @click.native="error.dialog = false">
                  Fermer
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: 'Home',
    data() {
      return {
        number: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        homes: ['Appartement sans balcon', 'Appartement avec balcon', 'Maison sans jardin', 'Maison avec jardin'],
        form: {
          residents: '',
          type: '',
          gender: ''
        },
        isSubmit: false,
        error: {
          dialog: false,
          msg: ''
        },
        rules: {
          required: value => !!value || 'Le champ est requis'
        }
      }
    },
    computed: {
      valid() {
        if (this.form.type === '' || this.form.residents === '' || this.form.gender === '') {
          return false
        }
        return true
      }
    },
    methods: {
      submit() {
        axios.post('homes', this.form)
          .then(success => {
            this.$router.push('/trashes')
          })
          .catch(error => {
            this.form.password = ''
            this.form.password_confirmation = ''
            this.error.dialog = true
            this.error.msg = error.data.message
          })
      }
    }
  }
</script>
