<template>
  <v-layout align-center justify-center>
    <div id="map"></div>
  </v-layout>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'
  import Vue from 'vue'
  import * as turf from '@turf/helpers'
  import bbox from '@turf/bbox'
  import * as mapboxgl from 'mapbox-gl'
  
  export default {
    name: 'Map',
    data() {
      return {
        allReady: false,
        map: null
      }
    },
    mounted() {
      this.loadAll()
    },
    computed: {
      ...mapGetters([
        'mapData'
      ])
    },
    watch: {
      allReady: function() {
        this.loadData()
      }
    },
    methods: {
      async loadAll() {
        await Promise.all([
          this.createMap(),
          this.loadMapdata()
        ])
        return this.allReady = true
      },
      async loadMapdata() {
        await this.$store.dispatch('getData')
      },
      async createMap() {
        return new Promise(resolve => {
          mapboxgl.accessToken = process.env.VUE_APP_MAPBOX_KEY
          if (!mapboxgl.supported()) {
            alert('Your browser does not support Mapbox GL')
          } else {
             this.map = new mapboxgl.Map({
              container: 'map',
              style: process.env.VUE_APP_TILEHOSTING_KEY,
              center: [5.7, 45.2],
              zoom: 11
            })
            this.map.addControl(new mapboxgl.NavigationControl(), 'top-left')
            this.map.addControl(new mapboxgl.ScaleControl({
              unit: 'kilometer'
            }))
            this.map.on('style.load', () => {
              this.map.addSource('collectpoints', {
                type: 'geojson',
                data: turf.featureCollection([])
              })
              this.map.addLayer({
                id: 'pointslayer',
                type: 'circle',
                source: 'collectpoints',
                paint: {
                  'circle-color': [
                    'match', ['get', 'waste_type'],
                    'emballage', '#FFEF03',
                    'papier', '#8DD8F8',
                    'ordures ménagères résiduelles', '#666',
                    'verre', '#5CBBA2',
                    'collecte sélective', '#5CBBA2',
                    'Déchèterie','#ffea01',
                    /* other */
                    '#ccc'
                  ],
                  'circle-radius': {
                    'stops': [
                      [0, 2],
                      [8, 4],
                      [12, 6],
                      [16, 10]
                    ]
                  },
                  'circle-stroke-width': 1,
                  'circle-stroke-color': '#fff'
                }
              })
              resolve()
            })
            this.map.on('load', () => {
              const popup = new mapboxgl.Popup({
                closeButton: false,
                closeOnClick: false
              })
              this.map.on('mouseenter', 'pointslayer', e => {
                const features = this.map.queryRenderedFeatures(e.point, {
                  layers: ['pointslayer']
                })
                const feature = features[0]
                const description = '<h3>' + feature.properties.waste_type + '</h3><div>' + feature.properties.address + '</div><div>' + feature.properties.city + '</div>'
  
                popup.setLngLat(feature.geometry.coordinates)
                  .setHTML(description)
                  .addTo(this.map)
              })
              this.map.on('mousemove', e => {
                const features = this.map.queryRenderedFeatures(e.point, {
                  layers: ['pointslayer']
                })
                this.map.getCanvas().style.cursor = features.length ? 'pointer' : ''
              })
              this.map.on('mouseleave', 'pointslayer', () => {
                popup.remove()
              })
            })
          }
        })
      },
      loadData() {
        Vue.cordova.on('deviceready', () => {
          Vue.cordova.geolocation.getCurrentPosition((position) => {
            this.map.flyTo({
              center: [position.coords.longitude, position.coords.latitude],
              zoom: 16
            })
          })
        })
        let data = turf.featureCollection(this.mapData)
        this.map.getSource('collectpoints').setData(data)
      }
    },
  }
</script>

<style scoped>
  @import "~mapbox-gl/dist/mapbox-gl.css";
  #map {
    position: fixed;
    top: 60px;
    bottom: 50px;
    width: 100%;

  }
</style>